:root {
    --background-primary: #ffffff; /* Основной фон (белый) */
    --background-secondary: #2e2727; /* Для хедера и футера */
    --card-background: #ffffff; /* Фон карточек */
    --text-primary: #333333; /* Основной текст */
    --text-secondary: #b3b3b3; /* Вторичный текст (футер, описания) */
    --accent-color: #e63946; /* Акцентный цвет (кнопки, активные элементы) */
    --accent-color-hover: #d0002f; /* Ховер для акцентного цвета */
    --border-color: #cccccc; /* Границы, неактивные кнопки */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Тень */
    --shadow-hover: rgba(0, 0, 0, 0.5); /* Тень при ховере */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

/* Стили скроллбара */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--accent-color);
    transition: background 0.4s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}